<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeliaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input type="text" name="num1" id="" />
      <label for="">+</label>
      <input type="text" name="num2" id="" />
      <button type="submit">계산</button>
    </form>

    <ul>
      <!-- ? : null 일 수도 있음 -->
      <li>num1 : <span th:text="${addDto?.num1}"></span></li>
      <li>num2 : <span th:text="${addDto?.num2}"></span></li>
      <li>덧셈결과 : <span th:text="${result}"></span></li>
    </ul>
  </body>
</html>
