<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeliaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>사칙 연산 페이지</h1>

    <form action="" method="post">
      <input type="text" name="num1" />
      <label for="" th:text="${addDto?.num1}"></label>
      <select name="calc" id="">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="/">/</option>
        <option value="*">*</option>
      </select>
      <input type="text" name="num2" />
      <label for="" th:text="${addDto?.num2}"></label>
      <button type="submit">계산</button>
    </form>
    <div>결과 값 : <span th:text="${result}"></span></div>
  </body>
</html>
