<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeliaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a th:href="@{/sample/ex1}">ex1</a></li>
      <!-- / 가 앞에 붙어 있으면 http://localhost:8080  부터 시작-->
      <!-- / 가 앞에 붙어 있으면 http://localhost:8080/sample/ex3  뒤에만 변경-->
      <li><a th:href="@{ex1}">ex1</a></li>
      <li><a th:href="@{ex4(param1='data',param2 = 'data2')}">ex4</a></li>
    </ul>
  </body>
</html>
