<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"> </th:block>
  <div layout:fragment="content" class="container px-6 mx-auto grid">
    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">영화 등록</h2>

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <form method="post" id="register-form">
        <label class="block text-sm">
          <span class="text-gray-700 dark:text-gray-400">Title</span>
          <input
            class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            placeholder="영화 제목"
            name="title"
          />
        </label>

        <label class="block mt-4 text-sm form-label">
          <span class="block text-gray-700 dark:text-gray-400">Image Files</span>
          <input
            type="file"
            class="block w-full mt-1 form-control text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
            id="fileInput"
            multiple
          />
        </label>

        <div class="flex mt-6 text-sm">
          <button type="submit" class="btn btn-primary" style="--bs-btn-padding-y: 0.5rem; --bs-btn-padding-x: 1.5rem">등록</button>
        </div>
      </form>

      <div class="uploadResult">
        <ul>
          <!-- 
            <li data-name="" data-path="" data-uuid="">
                <div>
                    <a href=""><img src="" class="block"></a>
                    <span class="text-sm d-inline-block mx-1"></span>
                    <a href="#" data-file="">
                        <i class="fa-solid fa-xmark" data-file=""></i>
                    </a>
                </div>
            </li>
         -->
        </ul>
      </div>
    </div>
    <th:block layout:fragment="javascript"> </th:block>
  </div>
</html>
