<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 조각(뷰로 사용되는 html에 포함될 부분) 만들기 -->
    <h1 th:fragment="header">Fragment Test - header 파일</h1>
    <div th:fragment="content">
      <nav>
        <ul>
          <li>list1</li>
          <li>list2</li>
          <li>list3</li>
          <li>list4</li>
        </ul>
      </nav>
    </div>

    <h1 th:fragment="footer">Fragment Test - header 파일</h1>
  </body>
</html>
