<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content" class="container mt-5">
    <h3>도서 목록</h3>

    <table class="table table-hover mt-2">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">분류</th>
          <th scope="col">제목</th>
          <th scope="col">저자</th>
          <th scope="col">출판사</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="dto : ${list}">
          <th scope="row" th:text="${dto.id}"></th>
          <td th:text="${dto.categoryName}"></td>
          <td>
            <a class="text-decoration-none text-reset" th:text="${dto.title}" th:href="@{read(id=${dto.id})}"></a>
          </td>
          <td th:text="${dto.writer}"></td>
          <td th:text="${dto.publisherName}"></td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-success">전체목록</a>
    <!-- page -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link">Previous</a>
        </li>

        <li class="page-item">
          <a class="page-link"></a>
        </li>

        <li class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <th:block layout:fragment="script">
    <script>
      const result = "[[${result}]]";

      if (result) {
        alert("성공했습니다");
      }
    </script>
  </th:block>
</html>
