<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}">
  <div class="container" layout:fragment="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Memo</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2"></div>
      </div>
    </div>

    <div class="table-responsive small">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">mno</th>
            <th scope="col">memo_text</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dto:${list}">
            <td th:text="${dto.mno}"></td>
            <td><a th:href="@{read(mno=${dto.mno})}" class="text-decoration-none" th:text="${dto.memoText}"></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <th:block layout:fragment="script">
    <script>
      const msg = "[(${result})]";
      if (msg) alert(msg);
    </script>
  </th:block>
</html>
