<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}">
  <div class="mt-3" layout:fragment="content">
    <h2>
      board List Page

      <span>
  
          <button class="btn btn-outline-primary">REGISTER</button>
        </a>
      </span>
    </h2>
    <!-- 검색 -->
    <form class="mt-4" role="search" id="searchForm">
      <!-- 검색 후 결과 페이지는 1로 보여주기 -->
      <input type="hidden" name="page" value="1" class="form-control" />
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <select name="type" id="type" class="form-select">
            <option value="">조건 선택</option>
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="w">작성자</option>
            <option value="tc">제목 + 내용</option>
            <option value="tcw">제목 + 내용 + 작성자</option>
          </select>
        </div>
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="keyword" id="keyword" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </form>

    <table class="table">
      <thead>
        <tr >
          <th scope="col">bno</th>
          <th scope="col">Title</th>
          <th scope="col">writer</th>
          <th scope="col">RegDate</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" th:each="dto : ${result.dtoList}">
          <th  th:text="${dto.bno}"></th>
          <td >
            <a th:href="@{read(bno=${dto.bno})}" th:text="${dto.title}"></a>
            <span th:text="${dto.replyCount} != null ? '...............[' + ${dto.replyCount} + ']' : '...............[댓글 없음 ㅠ]'"></span>
          </td>
          <td th:text="${dto.writerName}"></td>
          <td th:text="${#temporals.format(dto.createdDate, 'yyyy-MM-dd HH:mm:ss')}"
        ></td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        <li class="page-item" th:if="${result.prev}">
          <a class="page-link" th:href="@{list(page=${result.start-1},type=${pageRequestDto.type},keyword=${pageRequestDto.keyword})}">Previous</a>
        </li>

        <li th:class=" 'page-item ' + ${result.page == page? 'active':''} " th:each="page : ${result.pageList}">
          <a class="page-link" th:href="@{list(page=${page},type=${pageRequestDto.type},keyword=${pageRequestDto.keyword})}" th:text="${page}"></a>
        </li>

        <li class="page-item" th:if="${result.next}">
          <a class="page-link" th:href="@{list(page=${result.end+1},type=${pageRequestDto.type},keyword=${pageRequestDto.keyword})}">Next</a>
        </li>
      </ul>
    </nav>

  </div>
</html>

<!--  페이지 나누기는 부트스트랩의 페이지 네이션 참고 -->

<!--https://getbootstrap.kr/docs/5.3/components/pagination/  -->
