<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
  <div layout:fragment="content">
    <div id="carouselAutoplaying" class="carousel slide container" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselAutoplaying"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://image.yes24.com/dms/202312/Big_PC(959x421)(5).jpg" class="d-block w-100" alt="김영한" />
        </div>
        <div class="carousel-item">
          <img src="https://image.yes24.com/images/00_Event/2023/1222MiyabeMiyuki/bn_PC(1089x421).jpg" class="d-block w-100" alt="마유끼" />
        </div>
        <div class="carousel-item">
          <img src="https://image.yes24.com/images/00_Event/2023/1220emartre/bn_1089x421.jpg" class="d-block w-100" alt="광고" />
        </div>
        <div class="carousel-item">
          <img src="https://image.yes24.com/momo/scmfiles/AdvertFiles/202401/2576352_231228091350.jpg" class="d-block w-100" alt="용선생" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</html>
