<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeliaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout}">
  <div class="container mt-5" layout:fragment="content">
    <form action="" method="post" th:object="${loginDto}" novalidate>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" th:value="${loginDto.email}"  />
        <!-- 이메일 검증하는 -->
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" id="name" name="name" th:value="${loginDto.name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <input type="hidden" name="page" value="5" />
      <!-- 히든 타입으로 페이지 값을 숨긴다면? -->
    </form>
  </div>
</html>
